{
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node"],
  
  settings: {
    'import/resolver': {
      alias: {
        map: [
          ['react', 'preact-compat'],
          ['react-dom', 'preact-compat']
        ],
        extensions: ['.ts', '.js', '.jsx', '.json']
      }
    }
  }
}
